.heading{
    background-color: rgba(0, 0, 0, 0.8);

}
.wrap{
    background-image: url("../../../public/images/glassesImage/background.jpg");
    /* background-image: url("../images/glassesImage/background.jpg"); */
    /* background-image: url("./glassesImage/background.jpg"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-top: 104px;
}

.glasses-left{
     background: url('../../../public/images/glassesImage/model.jpg') no-repeat center top;
     /* background: url('../images/glassesImage/model.jpg') no-repeat center top; */
     background-size: contain;
     height: 600px;
     position: relative;
}

.glasses {
    position: absolute;
    top: 26%;
    left: 29%;    
    opacity: 0.9;

}

.glasses img{
    width: 238px;
    height: 85px;
}

.glasses-info{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0,0,0,0.7);
    width: calc(100% - 80px);
    color: white;
    padding: 20px;
}

.glasses-info .price, .glasses-info .stock{
    font-size: 25px;
}


.glasses-right{
    background: url('../../../public/images/glassesImage/model.jpg') no-repeat center top;
    /* background: url('../images/glassesImage/model.jpg') no-repeat center top; */
    background-size: contain;
    height: 600px;
}